* {
  font-family: circular-spotify-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: red;
}

.main {
  width: 360px;
  min-height: 430px;
}

.header {
  display: flex;
  justify-content: center;
}

.spotify-logo {
  background-image: url("logo-spotify-text.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  max-width: 100%;
  width: 200px;
  height: 100px;
}